{% extends "base.html" %}

{% block content %}

<form action="/register" method="POST">
    <!-- Bloc "pseudo" -->
    <div>
        <label>Pseudo</label>
        <input type="text" name="input_pseudo" class="border-2 border-black">
    </div>
    <!-- Bloc "mot de passe" -->
    <div>
        <label>Mot de passe</label>
        <input type="password" name="input_mdp" class="border-2 border-black">
    </div>
    <!-- Bloc "avatar" -->
    <div>
        <label>Avatar</label>
        <input type="text" name="input_avatar" class="border-2 border-black">
    </div>
    <!-- Bouton créer un compte -->
    <button type="submit" class="bg-blue-200 p-3 rounded-full hover:bg-blue-400">Créer un compte</button>
</form>

{% endblock %}